body {
    background-color: rgba(255, 255, 255, 0.712);
    margin: 0;
    padding: 0;
}   

hr{
    background-color: rgb(179, 9, 74);
    width: 15%;
    border: 1px solid rgb(179, 9, 74);
}
.row{
    padding:0;
    margin:0;
}

.linked>li{
    text-decoration: none;
    display: inline-block;
}

.links>a{
    /*text-decoration: none;*/
    color: rgb(179, 9, 74);
    font-family: 'Roboto', sans-serif;
    font-size: 1.3em;
    font-weight: bold;
    padding: 10px;
}
.name {
    font-family: 'Poiret One', cursive;
    color: white;
    font-size: 2.6rem;
    font-weight: 400;
}

.description {
    font-family: 'Poiret One', cursive;
    color: white;
    font-size: 1.3rem;
}

.pic {
    width: 20%;
}

.img-responsive{
    width: 100%;
}

.first-section {
    /* background-image: linear-gradient(to right, rgb(4,4,4), rgb(8,8,8)); */
    background-color: rgb(4, 4, 4);
    /* position: relative; */
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 9vw), 0 100%);
    margin-bottom: 0;;
    max-height: 100vh;
    height: 50vh;
}


.second-section {
    background-color: rgba(255, 255, 255, 0.712);
    height: 150vh;
}

.title{
    font-family: 'Roboto', sans-serif;
}

.title{
    left: 45%;
}

.paragraphs{
    font-family: 'Roboto',sans-serif;
}

.photo img {
    border-radius: 40%;
    max-width: 100%;
}

.third-section {
    height: 100vh;
}

.projects img {
    height: 150px;
    width:300px;
}

.fourth {
    background-color: rgba(255, 255, 255, 0.712);
    height:50vh;
}

.fourth ul{
    margin:0;
    padding:0;
    display:flex;
    position:relative;
    top:2rem;

    /*transform: translate(-50%,-50%);*/
}
.shiny>li {
    list-style-type:none;
    padding: 0 15px;
}

.icons > a{
    position:relative;
    display:block;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    background: #333;
    border-radius: 50%;
    font-size: 3rem;
    color: #666;
    transition: 0.5s;
}

.icons > a:before{
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgb(179, 9, 74);
    transition: 0.5s;
    transform: scale(0.9);
    z-index: -1;
}

.icons > a:hover:before{
    transform: scale(1.1);
    box-shadow: 0 0 1.5rem  rgb(179, 9, 74);
}

.icons > a:hover{
    color: rgb(179, 9, 74);
    box-shadow: 0 0 .4rem rgb(179, 9, 74);
    text-shadow: 0 0 .4rem rgb(179, 9, 74);
}

.footer {
    background-color: #24242A;
    width: 100%;
    height: 8vh;
}



@media screen and (min-width: 480px) and (max-width:780px){
    .description {
        font-family: 'Poiret One', cursive;
        color: white;
        font-size: 1.1rem;
    }
    .name {
        font-family: 'Poiret One', cursive;
        color: white;
        font-size: 2.19rem;
        font-weight: 400;
    }
}

@media screen and (max-width: 480px){
    .description{
        font-size:0.7rem;
    }

    .name {
        font-size: 1.8rem;
    }
}
/* .col-1{
    width: 8.333%;
}
.col-2{
    width: 16.666%;
}
.col-3{
    width: 25%;
}
.col-4{
    width: 33.333%;
}
.col-5{
    width: 41.666%;
}
.col-6{
    width: 50%;
}
.col-7{
    width: 58.333%;
}
.col-8{
    width: 66.666%;
}
.col-9{
    width: 75%;
}
.col-10{
    width: 83.333%;
}
.col-11{
    width: 91.666%;
}
.col-12{
    width: 100%;
} */